<%- include("partials/header") %> 

<div class="container center"> 
    <form action="/login" method="POST">
        <div>
            <input class="form" type="text" name="username" placeholder="username">
        </div>
        <div>
            <input class="form" type="password" name="password" placeholder="password">
        </div>
        <button class="form">Log in</button>
    </form>
    </div>
<%- include("partials/footer") %> 