<%- include("partials/header") %> 

<div class="container center">
    <h1>Add a new campground</h1>

    <form action="/campgrounds" method="POST">
        <div class="">
            <input class="form" type="text" name="name" placeholder="campground name">
        </div>

        <div class="">
            <input class="form" type="text" name="image" placeholder="image url">
        </div> 

        <div class="">
            <input class="form" type="text" name="description" placeholder="short description">
        </div>

        <div class="">
            <button class="form">Add new campground</button>
        </div>
    </form>
    <a href="/campgrounds">Back to campgrounds</a>
</div>

<%- include("partials/footer") %> 