<%- include("partials/header") %> 

<div class="container center">
    <form action="/register" method="POST">
        <div>
            <input class="form" type="text" name="username" placeholder="username">
        </div>
        <div>
            <input class="form" type="password" name="password" placeholder="password">
        </div>
        <button class="form">Register</button>
    </form>
</div>
<%- include("partials/footer") %> 